<section class="breadcrumbs breadcrumbs2 team wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Our Team</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a routerLink="/core/home3" title="Home">Home</a> / Team
                </div>
            </div>
        </div>
    </div>
</section>


<section class="staff page-block-large ">
    <div class="container text-center">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h1>Founder &amp; Inspirations</h1>
            <div class="headingIcon"><i class="fa fa-diamond fa-4x square BGprime"></i></div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/01.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Jen Doe<small>FOUNDER</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/02.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>John Doe<small>CEO</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/03.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Jeny Doe<small>Managing Director</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="gapM clear"></div>
        <h3>Square Image options</h3>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/01.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Jen Doe<small>FOUNDER</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/02.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>John Doe<small>CEO</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/03.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Jeny Doe<small>Managing Director</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="gapL clear"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h1>Our Ninja's</h1>
            <div class="headingIcon"><i class="fa fa-diamond fa-4x square BGsec"></i></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.60s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/04.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Elise Rountree<small>Marketing Head</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/05.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Fermin Rager<small>Design Head</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/06.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Tanna Wert<small>VFX Expert</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
            <div class="team rectangle">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/rectangle/07.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Garrett Platz<small>Project Manager</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="gapM clear"></div>
        <h3>Square Image options</h3>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/07.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Garrett Platz<small>Project Manager</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/04.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Elise Rountree<small>Marketing Head</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/05.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Fermin Rager<small>Design Head</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
            <div class="team square">
                <div class="img">
                    <a routerLink="/core/team-single" title="Person Name"><img class="img-responsive"
                            src="assets/images/people/square/06.jpg" alt="img"></a>
                </div>

                <div class="info">
                    <a routerLink="/core/team-single" title="Person Name">
                        <h5>Tanna Wert<small>VFX Expert</small></h5>
                    </a>
                    <ul class="social list-inline">
                        <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-2" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>