<section class="breadcrumbs breadcrumbs2 about wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>About Us</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / About Us
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large BGlight">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s"
            data-wow-delay="0.75s">
            <img class="img-responsive" src="assets/images/about.jpg" alt="About Striking" width="725" height="475" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s"
            data-wow-delay="0.75s">
            <p class="big">Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper.
                Nunc nisi risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat
                neque non hendrerit finibus. Pellentesque sit amet fermentum risus.</p>
            <p>Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi
                risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi risus,
                accumsan nec elit ac, molestie varius urna.</p>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <div class="section-heading">
                <h2><i class="fa fa-info-circle square BGsec"></i>Why Striking <small>Why choose us</small></h2>
                <div class="clear"></div>
            </div>
            <div class="panel-group text-left" id="Q1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q1"
                                href="#question1"><span></span>We have highly professional team </a> </h4>
                    </div>
                    <div id="question1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q1"
                                href="#question2"><span></span>We are commited </a> </h4>
                    </div>
                    <div id="question2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q1"
                                href="#question3"><span></span>We deliver best results </a> </h4>
                    </div>
                    <div id="question3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q1"
                                href="#question4"><span></span>We hear and appreciate your inputs </a> </h4>
                    </div>
                    <div id="question4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <div class="section-heading">
                <h2><i class="fa fa-briefcase square BGsec"></i>Our Services <small>What we do</small></h2>
                <div class="clear"></div>
            </div>
            <ul class="list-main bordered">
                <li>
                    <a href="services-single-1.html" title="Commercial design">
                        <h5>Commercial Interior Design</h5>
                    </a>
                </li>
                <li>
                    <a href="services-single-2.html" title="Interior design">
                        <h5>Residential Interior Design</h5>
                    </a>
                </li>
                <li>
                    <a href="services-single-3.html" title="Exterior design">
                        <h5>Exterior design</h5>
                    </a>
                </li>
                <li>
                    <a href="services-single-4.html" title="Renovation">
                        <h5>Renovation</h5>
                    </a>
                </li>
                <li>
                    <a href="services-single-4.html" title="Maintainance">
                        <h5>Annual Maintainance</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="staff opt page-block-large BGlight">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-heading wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2><i class="fa fa-users square BGsec"></i>Our Experts <small>Team behind our success</small></h2>
                <a class="btn btn-primary" href="team2.html" title="See All">View All <i
                        class="fa fa-chevron-circle-right"></i></a>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.75s">
                    <div class="team rectangle">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/rectangle/01.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jen Doe<small>Founder</small></h5>
                            </a>
                        </div>

                        <ul class="social">
                            <li><a class="fb" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                            </li>
                            <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                            <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1s">
                    <div class="team rectangle">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/rectangle/02.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>John Doe<small>CEO</small></h5>
                            </a>
                        </div>

                        <ul class="social">
                            <li><a class="fb" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                            </li>
                            <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                            <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.25s">
                    <div class="team rectangle">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/rectangle/03.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jeny Doe<small>Managing Director</small></h5>
                            </a>
                        </div>

                        <ul class="social">
                            <li><a class="fb" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a>
                            </li>
                            <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                            <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client page-block">
    <div class="container">
        <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h2><i class="fa fa-diamond square BGsec"></i>Clients <small>Precious &amp; Happy clients</small></h2>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="slider4">
                <div class="slide"><img src="assets/images/clients/01.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/02.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/03.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/04.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/05.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/06.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/07.png" alt="Client name"></div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>