<section class="breadcrumbs breadcrumbs2 clients wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Clients</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / Clients
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <div class="clientPage">
            <img class="img-responsive" src="assets/images/clients/01.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/02.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/03.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/04.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/05.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/06.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/07.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/01.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/02.png" alt="client name" />
            <img class="img-responsive" src="assets/images/clients/03.png" alt="client name" />
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>

