<section class="breadcrumbs breadcrumbs2 sitemap wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Sitemap</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a routerLink="/core/home3" title="Home">Home</a> / Sitemap
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <div class="col-md-12 content-box">
            <ul class="sitemap list-main bordered">
                <li class="sub"><a href="#" title="Home">Home</a>

                    <ul class="sub-nav">
                        <li><a routerLink="/core/home1" title="Home Version 1">Home Version 1</a></li>
                        <li><a routerLink="/core/home2" title="Home Version 2">Home Version 2</a></li>
                        <li><a routerLink="/core/home3" title="Home Version 3">Home Version 3</a></li>
                        <li><a routerLink="/core/home3" title="Home Version 4">Home Version 4</a></li>
                    </ul>

                </li>
                <li class="sub"><a href="#" title="About">About</a>

                    <ul class="sub-nav">
                        <li><a routerLink="/core/about1" title="About Us">About 1</a></li>
                        <li><a routerLink="/core/about2" title="About Us">About 2</a></li>
                        <li class="sub"><a href="#" title="Team">Team</a>

                            <ul class="sub-nav">
                                <li><a routerLink="/core/team1" title="Team 1">Team Hover 1</a></li>
                                <li><a routerLink="/core/team2" title="Team 2">Team Hover 2</a></li>
                                <li><a routerLink="/core/team-single" title="John Doe">Team Single</a></li>
                            </ul>

                        </li>
                    </ul>

                </li>
                <li class="sub active"><a href="#" title="Pages">Pages</a>

                    <ul class="sub-nav">
                        <li class="sub"><a href="#" title="Service">Services</a>

                            <ul class="sub-nav">
                                <li><a routerLink="/core/services" title="Service">Services</a></li>
                                <li><a routerLink="/core/services-single1" title="Service Sinle Page">Services Single</a></li>
                            </ul>

                        </li>
                        <li><a routerLink="/core/testimonials" title="Testimonials">Testimonials</a></li>
                        <li><a routerLink="/core/faq" title="FAQ">FAQ</a></li>
                        <li><a routerLink="/core/client" title="Clients">Clients</a></li>
                        <li><a routerLink="/core/career" title="Career">Career</a></li>
                        <li><a routerLink="/core/press" title="Press">Press</a></li>
                        <li><a routerLink="/core/404" title="404" target="_blank">404</a></li>
                        <li><a routerLink="/core/sitemap" title="Sitemap">Sitemap</a></li>
                    </ul>

                </li>
                <li class="sub"><a href="#" title="Portfolio">Portfolio</a>

                    <ul class="sub-nav">
                        <li><a routerLink="/core/portfolio2" title="Portfolio 2 Column"> Portfolio 2 Column</a></li>
                        <li><a routerLink="/core/portfolio3" title="Portfolio 3 Column"> Portfolio 3 Column</a></li>
                        <li><a routerLink="/core/portfolio4" title="Portfolio 4 Column"> Portfolio 4 Column</a></li>
                        <li><a routerLink="/core/portfolio-full-width" title="Portfolio Full Width"> Portfolio Full Width</a>
                        </li>
                        <li><a routerLink="/core/portfolio-single-1" title="Portfolio Single 1">Portfolio Single 1</a></li>
                        <li><a routerLink="/core/portfolio-single-2" title="Portfolio Single 2">Portfolio Single 2</a></li>
                    </ul>

                </li>
                <li class="sub"><a href="#" title="Gallery">Gallery</a>

                    <ul class="sub-nav">
                        <li><a routerLink="/core/gallery-4" title="Gallery 4 Column">Gallery 4 Column</a></li>
                        <li><a routerLink="/core/gallery-3" title="Gallery 3 Column">Gallery 3 Column</a></li>
                        <li><a routerLink="/core/gallery-2" title="Gallery 2 Column">Gallery 2 Column</a></li>
                        <li><a routerLink="/core/gallery-full-width" title="Gallery Full Width">Gallery Full Width</a></li>
                    </ul>

                </li>
                <li class="sub"><a href="#" title="Blog">Blog</a>

                    <ul class="sub-nav">
                        <li><a routerLink="/core/blog" title="Gallery 4 Column">Blog Main</a></li>
                        <li><a routerLink="/core/blog-single" title="Gallery 3 Column">Single Post</a></li>
                    </ul>

                </li>
                <li><a routerLink="/core/contact-1" title="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-1" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>