<section class="breadcrumbs breadcrumbs2 career wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Career</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / Career
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <div class="col-md-12">
            <h3>Career opportunities at <strong class="prime">Striking</strong></h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus consectetur sapien ac laoreet.
                Duis nec scelerisque mi. Nam tristique vitae ipsum eget condimentum. Mauris condimentum dui in ante
                suscipit, vel ornare enim viverra. Nullam nec urna at nibh tempus aliquam ornare eget risus. Donec sed
                purus id arcu posuere feugiat vel condimentum nisi. Vestibulum at vestibulum odio. Integer in nibh a
                dolor dapibus tempus. Donec suscipit quam at libero elementum aliquet eu at eros. Nulla faucibus commodo
                accumsan. Morbi nec volutpat enim. Mauris egestas congue accumsan. Integer rhoncus justo ultricies,
                sodales ex eu, fringilla sem. Praesent eget erat quis dolor lacinia aliquam a vel quam. </p>
            <div class="gapM"></div>
            <div class="career panel-group text-left" id="Q2" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q2"
                                href="#question1"><span></span>Interior Designer </a> </h4>
                    </div>
                    <div id="question1" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <ul class="list-main bordered">
                                    <li>
                                        <h6>Openings</h6>3
                                    </li>
                                    <li>
                                        <h6>Job Code</h6>123
                                    </li>
                                    <li>
                                        <h6>Location</h6>Earth, Milkyway
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-md-offset-1 col-sm-8 col-xs-12">
                                <h5>Knowledge, Skills and Abilities</h5>
                                <ul class="list-default">
                                    <li>Anim pariatur cliche reprehenderit</li>
                                    <li>enim eiusmod high life accusamus terry</li>
                                    <li>non cupidatat skateboard dolor</li>
                                    <li>sunt aliqua put a bird on it squid single-origin</li>
                                    <li>richardson ad squirum eiusmodmoon tempor nulla assumenda</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <a class="btn btn-primary pull-right" href="#" title="Apply Now">Apply Now <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q2"
                                href="#question2"><span></span>Project Manager </a> </h4>
                    </div>
                    <div id="question2" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <ul class="list-main bordered">
                                    <li>
                                        <h6>Openings</h6>3
                                    </li>
                                    <li>
                                        <h6>Job Code</h6>123
                                    </li>
                                    <li>
                                        <h6>Location</h6>Earth, Milkyway
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-md-offset-1 col-sm-8 col-xs-12">
                                <h5>Knowledge, Skills and Abilities</h5>
                                <ul class="list-default">
                                    <li>Anim pariatur cliche reprehenderit</li>
                                    <li>enim eiusmod high life accusamus terry</li>
                                    <li>non cupidatat skateboard dolor</li>
                                    <li>sunt aliqua put a bird on it squid single-origin</li>
                                    <li>richardson ad squirum eiusmodmoon tempor nulla assumenda</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <a class="btn btn-primary pull-right" href="#" title="Apply Now">Apply Now <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#Q2"
                                href="#question3"><span></span>Marketing Manager </a> </h4>
                    </div>
                    <div id="question3" class="panel-collapse collapse">
                        <div class="panel-body row">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <ul class="list-main bordered">
                                    <li>
                                        <h6>Openings</h6>3
                                    </li>
                                    <li>
                                        <h6>Job Code</h6>123
                                    </li>
                                    <li>
                                        <h6>Location</h6>Earth, Milkyway
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-md-offset-1 col-sm-8 col-xs-12">
                                <h5>Knowledge, Skills and Abilities</h5>
                                <ul class="list-default">
                                    <li>Anim pariatur cliche reprehenderit</li>
                                    <li>enim eiusmod high life accusamus terry</li>
                                    <li>non cupidatat skateboard dolor</li>
                                    <li>sunt aliqua put a bird on it squid single-origin</li>
                                    <li>richardson ad squirum eiusmodmoon tempor nulla assumenda</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <a class="btn btn-primary pull-right" href="#" title="Apply Now">Apply Now <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>

