<section class="breadcrumbs breadcrumbs2 testimonials wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Testimonials</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / Testimonials
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="page-block-large">
    <div class="container">

        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/01.jpg" alt="Jenny Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>Jenny Doe<span>CEO</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique
                    accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in urna semulla
                    facilisi.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/02.jpg" alt="John Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>John Doe<span>Business Executive</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id ipsum facilisis, congue ex at,
                    tempus lacus. Sed rhoncus tincidunt felis, eu tempus metus pretium nec. Interdum et malesuada fames
                    ac ante ipsum primis in faucibus. </p>
            </div>
        </div>
        <div class="clear gapL"></div>
        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/03.jpg" alt="Jarvis Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>Jarvis Doe<span>Design Expert</span></h4>
                <p>Sed velit nulla, hendrerit nec euismod eu, interdum eget ipsum. Sed turpis lacus, egestas in nulla
                    vel, rutrum auctor felis. Integer ac congue arcu. Nullam maximus elit purus. Pellentesque habitant
                    morbi tristique senectus</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/04.jpg" alt="Cyra Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>Cyra Doe<span>Housewife</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique
                    accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in urna semulla
                    facilisi.</p>
            </div>
        </div>
        <div class="clear gapL"></div>
        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/05.jpg" alt="Shawn Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>Shawn Doe<span>Business Executive</span></h4>
                <p> Keset netus et malesuada fames ac turpis egestas. Mauris justo dolor, egestas sed feugiat vitae,
                    iaculis vulputate lorem. Vivamus in ex odio. Sed eget fringilla dui, ut auctor odio. Sed in diam sit
                    amet dolor bibendum suscipit.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="pic"><img class="img-responsive" src="assets/images/quote/06.jpg" alt="Sandra Doe" width="100"
                    height="100" /></div>
            <div class="info">
                <h4>Sandra Doe<span>Business Executive</span></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna semulla
                    facilisi.</p>
            </div>
        </div>
        <div class="clear gapL"></div>
        <h3>Vertical Option</h3>
        <hr>
        <div class="gapL"></div>

        <div class="vertical">
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/01.jpg" alt="Jenny Doe"
                        width="100" height="100" /></div>
                <div class="info">
                    <h4>Jenny Doe<span>CEO</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                        tristique accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in
                        urna semulla facilisi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/02.jpg" alt="John Doe" width="100"
                        height="100" /></div>
                <div class="info">
                    <h4>John Doe<span>Business Executive</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id ipsum facilisis, congue ex at,
                        tempus lacus. Sed rhoncus tincidunt felis, eu tempus metus pretium nec. Interdum et malesuada
                        fames ac ante ipsum primis in faucibus. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/03.jpg" alt="Jarvis Doe"
                        width="100" height="100" /></div>
                <div class="info">
                    <h4>Jarvis Doe<span>Design Expert</span></h4>
                    <p>Sed velit nulla, hendrerit nec euismod eu, interdum eget ipsum. Sed turpis lacus, egestas in
                        nulla vel, rutrum auctor felis. Integer ac congue arcu. Nullam maximus elit purus. Pellentesque
                        habitant morbi tristique senectus</p>
                </div>
            </div>
            <div class="clear gapL"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/04.jpg" alt="Cyra Doe" width="100"
                        height="100" /></div>
                <div class="info">
                    <h4>Cyra Doe<span>Housewife</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                        tristique accumsan. Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in
                        urna semulla facilisi.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.75s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/05.jpg" alt="Shawn Doe"
                        width="100" height="100" /></div>
                <div class="info">
                    <h4>Shawn Doe<span>Business Executive</span></h4>
                    <p> Keset netus et malesuada fames ac turpis egestas. Mauris justo dolor, egestas sed feugiat vitae,
                        iaculis vulputate lorem. Vivamus in ex odio. Sed eget fringilla dui, ut auctor odio. Sed in diam
                        sit amet dolor bibendum suscipit.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1s">
                <div class="pic"><img class="img-responsive" src="assets/images/quote/06.jpg" alt="Sandra Doe"
                        width="100" height="100" /></div>
                <div class="info">
                    <h4>Sandra Doe<span>Business Executive</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan
                        commodo nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna
                        semulla facilisi.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>