<header id="home" class="cbp-af-header header2">
    <div class="header-top BGdark">
        <div class="container">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <span><i class="fa fa-phone"></i> (123) 456-7890 </span>
                <span><i class="fa fa-fax"></i> (123) 456-7890</span>
                <span><i class="fa fa-envelope-o"></i> <a href="##630a0d050c23000c0e13020d1a0d0e064d000c0e"
                        title=""><span class="__cf_email__"
                            data-cfemail="cfa6a1a9a08faca0a2bfaea1b6a1a2aae1aca0a2">[email&#160;protected]</span></a>
                </span>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <ul class="social list-inline pull-right">
                    <li><a class="fb" href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="tw" href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="yt" href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a class="pt" href="#" title="Watch Our Videos"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="li" href="#" title="Follow Us on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="fl" href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                    <li><a class="gplus" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="ig" href="#" title="Watch Our Gallery"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="vk" href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-3 col-sm-3 col-xs-12 logo">
            <a title="company Logo" routerLink="/core/home"><img class="img-responsive" src="assets/images/99_decor_logo1.png" width="200"
                    height="100" alt="Company Logo" /></a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 cbp-af-inner rightnav">
            <nav class="navbar navbar-default">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="menu">

                    <ul class="nav navbar-nav">
                        <li><a routerLink="/core/home3" [routerLinkActive]="['active']">Home</a></li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="Home">Home</a>

                            <ul class="sub-nav">
                                <li ><a routerLink="/core/home1" title="Home Version 1">Home Version 1</a></li>
                                <li><a routerLink="/core/home2" title="Home Version 2">Home Version 2</a></li>
                                <li><a routerLink="/core/home3" title="Home Version 3">Home Version 3</a></li>
                                <li><a routerLink="/core/home4" title="Home Version 4">Home Version 4</a></li>
                            </ul>

                        </li> -->
                        <li><a routerLink="core/about2" [routerLinkActive]="['active']">About</a>                        </li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="About">About</a>

                            <ul class="sub-nav">
                                <li><a routerLink="core/about1" title="About Us">About 1</a></li>
                                <li><a routerLink="core/about2" title="About Us">About 2</a></li>
                                <li class="sub"><a href="#" title="Team">Team</a>

                                    <ul class="sub-nav">
                                        <li><a href="team1.html" title="Team 1">Team Hover 1</a></li>
                                        <li><a href="team2.html" title="Team 2">Team Hover 2</a></li>
                                        <li><a href="team3.html" title="Team 1">Team Hover 3</a></li>
                                        <li><a href="team-single.html" title="John Doe">Team Single</a></li>
                                    </ul>

                                </li>
                            </ul>

                        </li> -->
                        <li class="sub" [routerLinkActive]="['active']"><a href="" title="Pages">Services</a>

                            <ul class="sub-nav">
                                <!-- <li class="sub"><a href="#" title="Service">Services</a>

                                    <ul class="sub-nav">
                                        <li><a href="services.html" title="Service">Services</a></li>
                                        <li><a href="services-single-1.html" title="Service Sinle Page">Services
                                                Single</a></li>
                                    </ul>

                                </li> -->
                                <li><a  routerLink="/core/services" title="Service">Services</a></li>
                                <li><a  routerLink="/core/testimonials" title="Testimonials">Testimonials</a></li>
                                <li><a  routerLink="/core/FAQ" title="FAQ">FAQ</a></li>
                                <li><a  routerLink="/core/clients" title="Clients">Clients</a></li>
                                <li><a  routerLink="/core/career" title="Career">Career</a></li>
                                <li><a  routerLink="/core/press" title="Press">Press</a></li>
                                <!-- <li><a  routerLink="/core/home1" title="404" target="_blank">404</a></li> -->
                                <li><a  routerLink="/core/sitempa" title="Sitemap">Sitemap</a></li>
                                <li><a  routerLink="/core/elements" title="Elements">Elements</a></li>
                            </ul>

                        </li>
                        <li><a routerLink="/core/portfolio-full-width" [routerLinkActive]="['active']">Portfolio</a></li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="Portfolio">Portfolio</a>

                            <ul class="sub-nav">
                                <li><a routerLink="/core/portfolio2" title="Portfolio 2 Column"> Portfolio 2 Column</a>
                                </li>
                                <li><a routerLink="/core/portfolio3" title="Portfolio 3 Column"> Portfolio 3 Column</a>
                                </li>
                                <li><a routerLink="/core/portfolio4" title="Portfolio 4 Column"> Portfolio 4 Column</a>
                                </li>
                                <li><a routerLink="/core/portfolio-full-width" title="Portfolio Full Width"> Portfolio Full
                                        Width</a></li>
                                <li><a routerLink="/core/portfolio-single-1" title="Portfolio Single 1">Portfolio Single 1</a></li>
                                <li><a routerLink="/core/portfolio-single-2" title="Portfolio Single 2">Portfolio Single 2</a></li>
                            </ul>

                        </li> -->
                        <li><a routerLink="core/gallery-full-width" [routerLinkActive]="['active']">Gallery</a></li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="Gallery">Gallery</a>

                            <ul class="sub-nav">
                                <li><a routerLink="core/gallery-4" title="Gallery 4 Column">Gallery 4 Column</a></li>
                                <li><a routerLink="core/gallery-3" title="Gallery 3 Column">Gallery 3 Column</a></li>
                                <li><a routerLink="core/gallery-2" title="Gallery 2 Column">Gallery 2 Column</a></li>
                                <li><a routerLink="core/gallery-full-width" title="Gallery Full Width">Gallery Full Width</a>
                                </li>
                            </ul>

                        </li> -->.
                        <li><a routerLink="core/blog-main" [routerLinkActive]="['active']">Blog</a></li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="Blog">Blog</a>

                            <ul class="sub-nav">
                                <li><a routerLink="core/blog-main" title="Gallery 4 Column">Blog Main</a></li>
                                <li><a routerLink="core/single-post" title="Gallery 3 Column">Single Post</a></li>
                            </ul>

                        </li> -->
                        <li><a routerLink="core/contact-1" [routerLinkActive]="['active']">Contact</a></li>
                        <!-- <li class="sub" [routerLinkActive]="['active']"><a href="#" title="Contact">Contact</a>

                            <ul class="sub-nav">
                                <li><a routerLink="core/contact-1" title="Contact">Contact 1</a></li>
                                <li><a routerLink="core/contact-2" title="Contact">Contact 2</a></li>
                            </ul>

                        </li> -->
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</header>