<section id="slides" class="BGdark slides2">
    <ul class="bxslider">
        <li>
            <img class="img-responsive" src="assets/images/slider/slide1.jpg" alt="" />
            <div class="symbol">
                <div class="absShape text-center">
                    <h1>Striking<small>Welcome to creative world!</small></h1>
                </div>
            </div>
        </li>
        <li>
            <img class="img-responsive" src="assets/images/slider/slide2.jpg" alt="" />
            <div class="symbol">
                <div class="absShape text-center">
                    <h1>Pro Services<small>Wide range of services!</small></h1>
                </div>
            </div>
        </li>
        <li>
            <img class="img-responsive" src="assets/images/slider/slide3.jpg" alt="" />
            <div class="symbol">
                <div class="absShape text-center">
                    <h1>Innovative ideas<small>Expert designers with amazing talent!</small></h1>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="highlights">
    <div class="whiteBG page-block-large">
        <div class="container">
            <div class="row">
                <img class="absShape hidden-xs wow fadeInLeft" src="assets/images/person.png" data-wow-duration="0.50s"
                    data-wow-delay="1.50s" alt="" />
                <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-12 wow fadeInDown"
                    data-wow-duration="0.50s" data-wow-delay="0.50s">
                    <div class="text-center">
                        <h1 class="big">Highlights</h1>
                        <div class="headingIcon"><i class="fa fa-star fa-4x square BGprime"></i></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="0.65s">
                        <h5>Wide Range Varieties</h5><span class="line"></span>
                        <p>Etiam aliquam lacinia rutrum. Sed sit amet tortor id eros suscipit semper. Suspendisse nec
                            condimentum metus, nec porttitor risus.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="0.80s">
                        <h5>Premium Features</h5><span class="line"></span>
                        <p>Quisque sodales ultricies posuere. Vestibulum ante ipsum primis in faucibus orci luctu. Proin
                            scelerisque neque porta astapasta.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="0.95s">
                        <h5>Industry Experts</h5><span class="line"></span>
                        <p>Sed bibendum lectus at cursus pharetra. Donec quis auctor mauris. Aenean ultricies elit
                            augue, eget ultrices ante pretium in.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="1.05s">
                        <h5>Exclusive Designs</h5><span class="line"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis lorem
                            ipsum dola dolor tristiqumsan.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="1.20s">
                        <h5>Best Results</h5><span class="line"></span>
                        <p>Etiam aliquam lacinia rutrum. Sed sit amet tortor id eros suscipit semper. Suspendisse nec
                            condimentum metus, nec porttitor risus.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 info-block wow fadeInDown" data-wow-duration="0.50s"
                        data-wow-delay="1.35s">
                        <h5>Quality Assurance</h5><span class="line"></span>
                        <p>Quisque sodales ultricies posuere. Vestibulum ante ipsum primis in faucibus orci luctu. Proin
                            scelerisque neque porta astapasta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="stat noBG">
    <div class="page-block">
        <div class="container text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-building-o fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="500ms" data-from="0" data-to="5" data-speed="4000"></h1>
                <h4>Branches</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-graduation-cap fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="700ms" data-from="0" data-to="50" data-speed="4000"></h1>
                <h4>Experts</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-diamond fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="900ms" data-from="0" data-to="500" data-speed="4000"></h1>
                <h4>Clients</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-paint-brush fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="1100ms" data-from="0" data-to="1500" data-speed="4000">
                </h1>
                <h4>Projects</h4>
            </div>
        </div>
    </div>
</section>

<section class="services zeroM BGlight page-block-large">
    <div class="container">
        <div class="col-md-12 wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="section-heading">
                <h2><i class="fa fa-gear square BGsec"></i>SERVICES <small>What we do</small></h2>
                <a class="btn btn-primary" href="services.html" title="View Details">View Details <i
                        class="fa fa-chevron-circle-right"></i></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.65s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/01.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-1.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-1.html" title="Service Title">Commercial Interior Design</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.75s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/02.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-2.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-2.html" title="Service Title">Residential Interior Design</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.85s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/03.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-3.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-3.html" title="Service Title">Exterior Design</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.95s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/04.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-4.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-4.html" title="Service Title">Renovation</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.05s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/01.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-1.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-1.html" title="Service Title">Commercial Interior Design</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.15s">
            <div class="info-block-bordered">
                <div class="item">
                    <img class="img-responsive" src="assets/images/services/thumb/02.jpg" alt="Image text" width="350"
                        height="229" />
                    <div class="overlay">
                        <a class="link" href="services-single-2.html" title="Service Title"><i
                                class="fa fa-link square"></i></a>
                    </div>
                </div>
                <h5><a href="services-single-2.html" title="Service Title">Residential Interior Design</a></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                    nunc accumsan sollicitudin.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-block">
    <div class="container wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <div class="col-md-12">
            <div class="section-heading zeroM">
                <h2><i class="fa fa-paint-brush square BGsec"></i>Latest Projects <small>Recently Completed
                        Projects</small></h2>
                <a class="btn btn-primary" href="portfolio-full-width.html" title="Latest Project">View All Projects <i
                        class="fa fa-chevron-circle-right"></i></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>

<div id="owl-recent-project" class="owl-carousel owl-theme BGlight">

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/01.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/02.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/03.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/04.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/05.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/06.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/07.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>

    <div class="item">
        <div class="img">
            <img class="img-responsive" src="assets/images/project/recent-home/owl/08.jpg" width="400" height="500"
                alt="Project Name" />
        </div>
        <div class="project-data">
            <h4>Awesome IT Solutions</h4>
            <ul>
                <li><i class="fa fa-paint-brush squareSmall outline"></i> <strong>Work Done</strong>Total Infrastructure
                </li>
                <li><i class="fa fa-calendar squareSmall outline"></i> <strong>Duration</strong>2 Week</li>
                <li><i class="fa fa-dollar squareSmall outline"></i> <strong>Cost</strong>$50,000</li>
            </ul>
            <a class="btn btn-dark btn-sm" href="portfolio1.html" title="View Details">View Details<i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>

<section class="page-block-large">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <div class="section-heading">
                <h2><i class="fa fa-building square BGsec"></i>About Us <small>Who are we</small></h2>
                <div class="clear"></div>
            </div>
            <p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat
                neque non hendrerit finibus. Pellentesque sit amet fermentum risus.</p>
            <p>Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi
                risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi risus,
                accumsan nec elit ac, molestie varius urna.</p>
            <a class="btn btn-primary" href="about1.html" title="See All">Read More <i
                    class="fa fa-chevron-circle-right"></i></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <div class="section-heading">
                <h2><i class="fa fa-star square BGsec"></i>Why Striking <small>Why choose us</small></h2>
                <div class="clear"></div>
            </div>
            <ul class="list-main">
                <li>
                    <h5>We have highly professional team</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
                <li>
                    <h5>We are commited</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
                <li>
                    <h5>We deliver best results</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="client page-block">
    <div class="container">
        <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h2><i class="fa fa-diamond square BGsec"></i>Clients <small>Precious &amp; Happy clients</small></h2>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="slider4">
                <div class="slide"><img src="assets/images/clients/01.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/02.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/03.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/04.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/05.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/06.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/07.png" alt="Client name"></div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>