<section class="breadcrumbs breadcrumbs2 blog wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Blog</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / <a href="blog.html" title="Blog">Blog</a> /
                    Commercial Interior Design
                </div>
            </div>
        </div>
    </div>
</section>


<section class="page-block-small blog-content">
    <div class="container">

        <div class="col-md-8 col-sm-12 col-xs-12 content-left">

            <article class="format-standard wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="post-header">
                    <h3><a href="blog-single.html" title="Post title">Commercial Interior Design</a></h3>
                </div>
                <div class="post-media">
                    <a href="blog-single.html" title="Post title"><img class="img-responsive"
                            src="assets/images/blog/featured/04.jpg" width="700" height="394" alt="featured image" /></a>
                </div>
                <div class="post-content">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="post-date">
                            <span>Jan</span>
                            <span class="date">24</span>
                            <span>2015</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="post-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna
                                vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur.
                                Phasellus vel tempor sapien.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="post-footer">
                    <ul class="list-inline post-meta">
                        <li class="category"><a href="#" title="">Informational</a></li>
                        <li class="author"><a href="#" title="Author name">Admin</a></li>
                        <li class="comment"><a href="#" title="Comments">03</a></li>
                        <li class="tags"><a href="#" title="">information</a>, <a href="#" title="">lorem</a>, <a
                                href="#" title="">ipsumno</a></li>
                    </ul>
                    <a class="more" href="blog-single.html" title="Read More"><i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>

            <article class="format-standard wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="post-header">
                    <h3><a href="blog-single.html" title="Post title">Residential Interior Design</a></h3>
                </div>
                <div class="post-media">
                    <div class="smallSlider">
                        <ul class="bxslider">
                            <li>
                                <img class="img-responsive" src="assets/images/blog/featured/01.jpg" width="700" height="394"
                                    alt="featured image" />
                            </li>
                            <li>
                                <img class="img-responsive" src="assets/images/blog/featured/02.jpg" width="700" height="394"
                                    alt="featured image" />
                            </li>
                            <li>
                                <img class="img-responsive" src="assets/images/blog/featured/03.jpg" width="700" height="394"
                                    alt="featured image" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="post-content">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="post-date">
                            <span>Jan</span>
                            <span class="date">21</span>
                            <span>2015</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="post-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna
                                vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur.
                                Phasellus vel tempor sapien.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="post-footer">
                    <ul class="list-inline post-meta">
                        <li class="category"><a href="#" title="">Interior</a></li>
                        <li class="author"><a href="#" title="Author name">Admin</a></li>
                        <li class="comment"><a href="#" title="Comments">03</a></li>
                        <li class="tags"><a href="#" title="">information</a>, <a href="#" title="">lorem</a>, <a
                                href="#" title="">ipsumno</a></li>
                    </ul>
                    <a class="more" href="#" title="Read More"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>

            <article class="format-video wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="post-header">
                    <h3><a href="#" title="Post title">Residential Interior Design</a></h3>
                </div>
                <div class="post-media">
                    <iframe src="https://player.vimeo.com/video/134951164" width="500" height="281" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="post-content">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="post-date">
                            <span>Jan</span>
                            <span class="date">21</span>
                            <span>2015</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="post-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna
                                vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur.
                                Phasellus vel tempor sapien.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="post-footer">
                    <ul class="list-inline post-meta">
                        <li class="category"><a href="#" title="">Interior</a></li>
                        <li class="author"><a href="#" title="Author name">Admin</a></li>
                        <li class="comment"><a href="#" title="Comments">03</a></li>
                        <li class="tags"><a href="#" title="">information</a>, <a href="#" title="">lorem</a>, <a
                                href="#" title="">ipsumno</a></li>
                    </ul>
                    <a class="more" href="#" title="Read More"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>

            <article class="format-audio wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="post-header">
                    <h3><a href="#" title="Post title">Residential Interior Design</a></h3>
                </div>
                <div class="post-media">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/159966669&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
                <div class="post-content">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="post-date">
                            <span>Jan</span>
                            <span class="date">21</span>
                            <span>2015</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="post-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna
                                vehicula ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur.
                                Phasellus vel tempor sapien.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="post-footer">
                    <ul class="list-inline post-meta">
                        <li class="category"><a href="#" title="">Interior</a></li>
                        <li class="author"><a href="#" title="Author name">Admin</a></li>
                        <li class="comment"><a href="#" title="Comments">03</a></li>
                        <li class="tags"><a href="#" title="">information</a>, <a href="#" title="">lorem</a>, <a
                                href="#" title="">ipsumno</a></li>
                    </ul>
                    <a class="more" href="#" title="Read More"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>

            <article class="format-quote wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <div class="post-header">
                    <h3><i class="fa fa-quote-left fa-4x light"></i></h3>
                </div>
                <div class="quote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula
                        ultricies. Ut tincidunt est vitae justo feugiat, quis mollis nisi consectetur. Phasellus vel
                        tempor sapien.</p>
                </div>
                <div class="post-content">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="post-date">
                            <span>Jan</span>
                            <span class="date">21</span>
                            <span>2015</span>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-9">
                        <div class="post-info author">
                            <h5>~ John Doe </h5>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="post-footer">
                    <ul class="list-inline post-meta">
                        <li class="category"><a href="#" title="">Interior</a></li>
                        <li class="author"><a href="#" title="Author name">Admin</a></li>
                        <li class="comment"><a href="#" title="Comments">03</a></li>
                        <li class="tags"><a href="#" title="">information</a>, <a href="#" title="">lorem</a>, <a
                                href="#" title="">ipsumno</a></li>
                    </ul>
                    <a class="more" href="#" title="Read More"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>

            <article class="format-link wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <i class="fa fa-link absShape"></i>
                <a class="btn btn-primary" href="http://themeforest.net/user/saptarang?ref=saptarang" title="Saptarang"
                    target="_blank">Saptarang</a>
            </article>
        </div>


        <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">

            <aside class="widget widget_search wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <form action=" " class="search-form" method="get" role="search">
                    <label>
                        <input type="search" id="s" name="s" value="" placeholder="Search …" class="form-control">
                    </label>
                    <input type="submit" value="&#xf002;" class="search-submit">
                </form>
            </aside>

            <aside class="widget wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h4 class="widget-title">About <strong>Striking</strong></h4>
                <img class="img-responsive" src="assets/images/about.jpg" alt="About" />
                <p>Lorem ipsum dolor sit amet, rislao creet cipit turpis mollis non. Lcons is molli Lor Praesent.
                    Pellentesque sit amet fermentum risus.</p>
                <a class="btn btn-primary btn-sm" href="about1.html" title="Read More">Read More <i
                        class="fa fa-caret-right"></i></a>
            </aside>

            <aside class="widget wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h4 class="widget-title">Categories</h4>
                <ul class="list-default">
                    <li><a href="#" title="">Inspirations <span>(34)</span></a></li>
                    <li><a href="#" title="">Informational Things <span>(70)</span></a></li>
                    <li><a href="#" title="">Innovative <span>(23)</span></a></li>
                    <li><a href="#" title="">Technology <span>(10)</span></a></li>
                    <li><a href="#" title="">Business Strategies <span>(45)</span></a></li>
                    <li><a href="#" title="">Marketing <span>(20)</span></a></li>
                </ul>
            </aside>

            <aside class="widget wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h4 class="widget-title">Recent Posts</h4>
                <div class="category-post first">
                    <div class="post-thumb">
                        <a href="blog-single.html" title="Post title"><img class="img-responsive"
                                src="assets/images/blog/thumbs/01.jpg" width="64" height="64" alt="" /></a>
                    </div>
                    <div class="post-info">
                        <h6><a href="blog-single.html" title="Post title">Post title here</a></h6>
                        April 3rd, 2015
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="category-post">
                    <div class="post-thumb">
                        <a href="blog-single.html" title="Post title"><img class="img-responsive"
                                src="assets/images/blog/thumbs/02.jpg" width="64" height="64" alt="" /></a>
                    </div>
                    <div class="post-info">
                        <h6><a href="blog-single.html" title="Post title">Post title here</a></h6>
                        April 3rd, 2015
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="category-post">
                    <div class="post-thumb">
                        <a href="blog-single.html" title="Post title"><img class="img-responsive"
                                src="assets/images/blog/thumbs/03.jpg" width="64" height="64" alt="" /></a>
                    </div>
                    <div class="post-info">
                        <h6><a href="blog-single.html" title="Post title">Post title here</a></h6>
                        April 3rd, 2015
                    </div>
                    <div class="clear"></div>
                </div>
            </aside>

            <aside class="widget tags wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h4 class="widget-title">Tags</h4>
                <a href="#" title="">Interior</a>
                <a href="#" title="">Exterior</a>
                <a href="#" title="">Design</a>
                <a href="#" title="">Innovative</a>
                <a href="#" title="">Technology</a>
                <a href="#" title="">Marketing</a>
                <div class="clear"></div>
            </aside>
        </div>

    </div>
    <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <nav>
            <ul class="pagination">
                <li><a href="#" title="Previous" aria-label="Previous">&laquo;</a></li>
                <li><a class="active" href="#" title="1">1</a></li>
                <li><a href="#" title="2">2</a></li>
                <li><a href="#" title="3">3</a></li>
                <li><a href="#" title="4">4</a></li>
                <li><a href="#" title="5">5</a></li>
                <li><a href="#" title="Next" aria-label="Next">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</section>


<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>