<section class="breadcrumbs breadcrumbs2 gallery wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Gallery</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a routerLink="/core/home3" title="Home">Home</a> / Gallery
                </div>
            </div>
        </div>
    </div>
</section>


<section class="project-gallery page-block">
    <div class="container">
        <div class="filter-button-group button-group text-center">
            <button class="btn btn-dark active" data-filter="*">All</button>
            <button class="btn btn-dark" data-filter=".com">Commercial</button>
            <button class="btn btn-dark" data-filter=".res">Residential</button>
            <button class="btn btn-dark" data-filter=".ext">Exterior</button>
            <button class="btn btn-dark" data-filter=".ren">Renovation</button>
        </div>
        <div class="grid three">
            <div class="item com">
                <img class="img-responsive" src="assets/images/project/01/small/01.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/01/large/01.jpg" data-rel="prettyPhoto[gallery1]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item res">
                <img class="img-responsive" src="assets/images/project/02/small/01.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/02/large/01.jpg" data-rel="prettyPhoto[gallery2]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ext">
                <img class="img-responsive" src="assets/images/project/03/small/01.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/03/large/01.jpg" data-rel="prettyPhoto[gallery3]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ren">
                <img class="img-responsive" src="assets/images/project/04/small/01.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/04/large/01.jpg" data-rel="prettyPhoto[gallery4]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item com">
                <img class="img-responsive" src="assets/images/project/01/small/02.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/01/large/02.jpg" data-rel="prettyPhoto[gallery1]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item res">
                <img class="img-responsive" src="assets/images/project/02/small/02.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/02/large/02.jpg" data-rel="prettyPhoto[gallery2]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ext">
                <img class="img-responsive" src="assets/images/project/03/small/02.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/03/large/02.jpg" data-rel="prettyPhoto[gallery3]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ren">
                <img class="img-responsive" src="assets/images/project/04/small/02.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/04/large/02.jpg" data-rel="prettyPhoto[gallery4]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item com">
                <img class="img-responsive" src="assets/images/project/01/small/03.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/01/large/03.jpg" data-rel="prettyPhoto[gallery1]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item res">
                <img class="img-responsive" src="assets/images/project/02/small/03.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/02/large/03.jpg" data-rel="prettyPhoto[gallery2]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ext">
                <img class="img-responsive" src="assets/images/project/03/small/03.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/03/large/03.jpg" data-rel="prettyPhoto[gallery3]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ren">
                <img class="img-responsive" src="assets/images/project/04/small/03.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/04/large/03.jpg" data-rel="prettyPhoto[gallery4]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item com">
                <img class="img-responsive" src="assets/images/project/01/small/04.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/01/large/04.jpg" data-rel="prettyPhoto[gallery1]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item res">
                <img class="img-responsive" src="assets/images/project/02/small/04.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/02/large/04.jpg" data-rel="prettyPhoto[gallery2]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ext">
                <img class="img-responsive" src="assets/images/project/03/small/04.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/03/large/04.jpg" data-rel="prettyPhoto[gallery3]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
            <div class="item ren">
                <img class="img-responsive" src="assets/images/project/04/small/04.jpg" width="300" height="300" alt="" />
                <div class="overlay">
                    <a class="zoom" href="assets/images/project/04/large/04.jpg" data-rel="prettyPhoto[gallery4]"
                        title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                </div>
                <h6>Project Name</h6>
            </div>
        </div>
    </div>
</section>


<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-1" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>