<section class="elements page-block-small">
    <div class="container page-block-small">
        <h3>Heading Styles</h3>
        <div class="col-md-12 page-block-small">
            <h1>Heading 1<small>Small Text</small></h1>
            <hr>
            <h2>Heading 1<small>Small Text</small></h2>
            <hr>
            <h3>Heading 1<small>Small Text</small></h3>
            <hr>
            <h4>Heading 1<small>Small Text</small></h4>
            <hr>
            <h5>Heading 1<small>Small Text</small></h5>
            <hr>
            <h6>Heading 1<small>Small Text</small></h6>
        </div>
        <div class="clear"></div>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Icon Styles</h3><br><br>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <i class="fa fa-user square BGprime"></i>
            <i class="fa fa-star square BGsec"></i>
            <i class="fa fa-globe square BGdark"></i>
            <i class="fa fa-phone square BGlight"></i><br><br>
            <i class="fa fa-user squareSmall BGprime"></i>
            <i class="fa fa-star squareSmall BGsec"></i>
            <i class="fa fa-globe squareSmall BGdark"></i>
            <i class="fa fa-phone squareSmall BGlight"></i><br><br>
            <i class="fa fa-user squareSmall outline"></i><br><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="headingIcon"><i class="fa fa-star fa-4x square BGprime"></i></div><br><br>
                <div class="headingIcon"><i class="fa fa-star fa-4x square BGsec"></i></div><br><br>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="headingIcon"><i class="fa fa-star fa-4x square BGdark"></i></div><br><br>
                <div class="headingIcon"><i class="fa fa-star fa-4x square outline"></i></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Button Styles</h3><br><br>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-default btn-sm" href="#" title="">Button</a>
            <a class="btn btn-default" href="#" title="">Button</a>
            <a class="btn btn-default btn-lg" href="#" title="">Button</a>
            <hr>
            <a class="btn btn-primary btn-sm" href="#" title="">Button</a>
            <a class="btn btn-primary" href="#" title="">Button</a>
            <a class="btn btn-primary btn-lg" href="#" title="">Button</a>
            <hr>
            <a class="btn btn-sec btn-sm" href="#" title="">Button</a>
            <a class="btn btn-sec" href="#" title="">Button</a>
            <a class="btn btn-sec btn-lg" href="#" title="">Button</a>
            <hr>
            <a class="btn btn-dark btn-sm" href="#" title="">Button</a>
            <a class="btn btn-dark" href="#" title="">Button</a>
            <a class="btn btn-dark btn-lg" href="#" title="">Button</a>
            <hr>
            <a class="btn btn-light btn-sm" href="#" title="">Button</a>
            <a class="btn btn-light" href="#" title="">Button</a>
            <a class="btn btn-light btn-lg" href="#" title="">Button</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-light btn-sm" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-light" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-light btn-lg" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <hr>
            <a class="btn btn-primary btn-sm" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-primary" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-primary btn-lg" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <hr>
            <a class="btn btn-sec btn-sm" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-sec" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-sec btn-lg" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <hr>
            <a class="btn btn-dark btn-sm" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-dark" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-dark btn-lg" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <hr>
            <a class="btn btn-light btn-sm" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-light" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
            <a class="btn btn-light btn-lg" href="#" title="">Button <i class="fa fa-chevron-circle-right"></i></a>
        </div>
        <div class="clear"></div><br><br>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Image Style</h3><br><br>
        <img src="assets/images/quote/01.jpg" alt="..." class="img-rounded">
        <img src="assets/images/quote/02.jpg" alt="..." class="img-circle">
        <img src="assets/images/quote/03.jpg" alt="..." class="img-thumbnail">
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Blockquote Styles</h3><br><br>
        <blockquote>
            <i class="fa fa-quote-left fa-4x"></i>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula ultricies.
            Ut tincidunt est vitae justo Phasellus vel tempor sapien.
        </blockquote>
        <div class="gapM"></div>
        <blockquote>
            <i class="fa fa-quote-left fa-4x"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            commodo purus quis urna vehicula ultricies. Ut tincidunt est vitae justo Phasellus vel tempor sapien. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicul Utto Phasellus
            <div class="author">John Doe, <small>CEO - Awesome It Solutions</small></div>
        </blockquote>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>List Styles</h3><br><br>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-main">
                <li>
                    <h5>We have highly professional team</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
                <li>
                    <h5>We have highly professional team</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
                <li>
                    <h5>We have highly professional team</h5>
                    Best location in te and Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is
                    molli
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-default">
                <li>Anim pariatur cliche reprehenderit, </li>
                <li>enim eiusmod high life accusamus terry richardson ad squi</li>
                <li>moon officia aute, non cupidatat skateboard dolor brunch </li>
                <li>Brunch 3 wolf moon tempor, sunt aliqua put a bird o</li>
                <li>n it squid single-origin coffee nulla assumenda shoredit</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-main bordered">
                <li>
                    <a title="Commercial design" routerLink="/core/services-single1">
                        <h5>Commercial Interior Design</h5>
                    </a>
                </li>
                <li>
                    <a title="Interior design" routerLink="/core/services-single2">
                        <h5>Residential Interior Design</h5>
                    </a>
                </li>
                <li>
                    <a title="Exterior design" routerLink="/core/services-single3">
                        <h5>Exterior design</h5>
                    </a>
                </li>
                <li>
                    <a title="Renovation" routerLink="/core/services-single4">
                        <h5>Renovation</h5>
                    </a>
                </li>
                <li>
                    <a title="Maintainance" routerLink="/core/services-single4">
                        <h5>Annual Maintainance</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-main bordered bigIcon">
                <li>
                    <h5>Masters Degree in Interior Designer</h5>Awesome University
                </li>
                <li>
                    <h5>Bachelors Degree in VFX</h5>Awesome University
                </li>
                <li>
                    <h5>Bachelors Degree in Computer</h5>Awesome University
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Table Styles</h3><br><br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Template</th>
                    <th>Business</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>OnEvent</td>
                    <td>Event Landing Page</td>
                    <td><a href="http://themeforest.net/item/onevent-special-event-landing-page/6558300?ref=saptarang"
                            target="_blank" title="">OnEvent</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Product and Services</td>
                    <td>Any product service based company</td>
                    <td><a href="http://themeforest.net/item/products-services-landing-page/10904551?ref=saptarang"
                            target="_blank" title="">Product and Services</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Proconf</td>
                    <td>Event Landing Page</td>
                    <td><a href="http://themeforest.net/item/-proconf-event-landing-page/11918548?ref=saptarang"
                            target="_blank" title="">Proconf</a></td>
                </tr>
            </tbody>
        </table>
        <div class="gapM"></div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Template</th>
                    <th>Business</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>OnEvent</td>
                    <td>Event Landing Page</td>
                    <td><a href="http://themeforest.net/item/onevent-special-event-landing-page/6558300?ref=saptarang"
                            target="_blank" title="">OnEvent</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Product and Services</td>
                    <td>Any product service based company</td>
                    <td><a href="http://themeforest.net/item/products-services-landing-page/10904551?ref=saptarang"
                            target="_blank" title="">Product and Services</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Proconf</td>
                    <td>Event Landing Page</td>
                    <td><a href="http://themeforest.net/item/-proconf-event-landing-page/11918548?ref=saptarang"
                            target="_blank" title="">Proconf</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Tabs</h3>
        <br><br>
        <div class="tabs">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                        data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                        data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                        data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                        data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pellentesque volutpat ornare.
                    Vivamus eget egestas quam. Etiam lobortis condimentum bibendum. Curabitur sit amet nunc vel felis
                    ornare suscipit. Proin ultrices fringilla finibus. Nam sagittis, nisi vitae ornare euismod, enim
                    nisl finibus nisi, ultrices feugiat sem arcu in eros. Mauris dolor sapien, congue sed volutpat nec,
                    tincidunt eu urna. Proin in tincidunt justo. Nulla dui nunc, ultrices vitae purus sit amet, luctus
                    venenatis ante. Duis pretium libero varius, auctor leo mollis,
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile">
                    Proin ultrices fringilla finibus. Nam sagittis, nisi vitae ornare euismod, enim nisl finibus nisi,
                    ultrices feugiat sem arcu in eros. Mauris dolor sapien, congue sed volutpat nec, tincidunt eu urna.
                    Proin in tincidunt justo. Nulla dui nunc, ultrices vitae purus sit amet, luctus venenatis ante. Duis
                    pretium libero varius, auctor leo mollis,
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pellentesque volutpat ornare.
                    Vivamus eget egestas quam. Etiam lobortis condimentum bibendum. Curabitur sit amet nunc vel felis
                    ornare suscipit. Proin ultrices fringilla finibus. Nam sagittis, nisi vitae ornare euismod, enim
                    nisl finibus nisi, ultrices feugiat sem arcu in eros. Mauris dolor sapien, congue sed volutpat nec,
                    tincidunt eu urna. Proin in tincidunt justo. Nulla dui nunc, ultrices vitae purus sit amet, luctus
                    venenatis ante. Duis pretium libero varius, auctor leo mollis,
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    Proin ultrices fringilla finibus. Nam sagittis, nisi vitae ornare euismod, enim nisl finibus nisi,
                    ultrices feugiat sem arcu in eros. Mauris dolor sapien, congue sed volutpat nec, tincidunt eu urna.
                    Proin in tincidunt justo. Nulla dui nunc, ultrices vitae purus sit amet, luctus venenatis ante. Duis
                    pretium libero varius, auctor leo mollis, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Quisque pellentesque volutpat ornare. Vivamus eget egestas quam. Etiam lobortis condimentum
                    bibendum. Curabitur sit amet nunc vel felis ornare suscipit.
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container page-block-small">
        <h3>Accordion</h3>
        <br><br>
        <div aria-multiselectable="true" role="tablist" id="Q1" class="panel-group text-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="#question1" data-parent="#Q1"
                            data-toggle="collapse"><span></span>We have highly professional team </a> </h4>
                </div>
                <div class="panel-collapse collapse" id="question1">
                    <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="#question2" data-parent="#Q1"
                            data-toggle="collapse"><span></span>We are commited </a> </h4>
                </div>
                <div class="panel-collapse collapse" id="question2">
                    <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="#question3" data-parent="#Q1"
                            data-toggle="collapse"><span></span>We deliver best results </a> </h4>
                </div>
                <div class="panel-collapse collapse" id="question3">
                    <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title"> <a href="#question4" data-parent="#Q1"
                            data-toggle="collapse"><span></span>We hear and appreciate your inputs </a> </h4>
                </div>
                <div class="panel-collapse collapse" id="question4">
                    <div class="panel-body">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                            bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured BGprime page-block-small">
    <div class="container">
        <div class="col-md-12">
            <h1><small>We offer wide range of </small>designs &amp; Services</h1>
        </div>
    </div>
</section>

<br> <br>

<section class="promoBox">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 commercial">
                <div class="absShape BGprime opaque">
                    <div class="info">
                        <h3>Commercial</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus
                            ultricies accumsan. Praesent volutpat neque non hendrerit</p>
                    </div>
                </div>
                <a routerLink="/core/portfolio1" title=""><i class="fa fa-link square BGdark"></i></a>
            </div>
            <div class="col-md-6 residential">
                <div class="absShape BGsec opaque">
                    <div class="info">
                        <h3>Residential</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus
                            ultricies accumsan. Praesent volutpat neque non hendrerit</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4 col-xs-12">
                </div>
                <a routerLink="/core/portfolio2" title=""><i class="fa fa-link square BGdark"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="client page-block">
    <div class="container">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <h2><i class="fa fa-diamond square BGsec"></i>Clients <small>Precious &amp; Happy clients</small></h2>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="slider4">
                <div class="slide"><img src="assets/images/clients/01.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/02.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/03.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/04.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/05.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/06.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/07.png" alt="Client name"></div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-1" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>

