<section class="breadcrumbs breadcrumbs2 contact wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Contact Us</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / Contact Us
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="">
    <div id="map_canvas" class="wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s"></div>
    <div class="contact-info">
        <div class="container">
            <div class="col-md-4 col-sm-12 col-xs-12 BGprime page-block-full wow fadeInUp" data-wow-duration="0.50s"
                data-wow-delay="0.50s">
                <div class="office first">
                    <h5>Los Angeles</h5>
                    <span><i class="fa fa-map-marker"></i> 123 Main Street<br>
                        Your City, State Country.</span>
                    <span><i class="fa fa-phone"></i> (123) 456-7890</span>
                    <span><i class="fa fa-envelope"></i> <a href="##33505c5d4752504773505c5e435d524a5d5e561d505c5e"
                            title="Contact"><span class="__cf_email__"
                                data-cfemail="8eede1e0faefedfaceede1e3fee0eff7e0e3eba0ede1e3">[email&#160;protected]</span></a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 BGdark page-block-full wow fadeInUp" data-wow-duration="0.50s"
                data-wow-delay="0.75s">
                <div class="office">
                    <h5>London</h5>
                    <span><i class="fa fa-map-marker"></i> 123 Main Street<br>
                        Your City, State Country.</span>
                    <span><i class="fa fa-phone"></i> (123) 456-7890</span>
                    <span><i class="fa fa-envelope"></i> <a href="##a0c3cfced4c1c3d4e0c3cfcdd0cec1d9cecdc58ec3cfcd"
                            title="Contact"><span class="__cf_email__"
                                data-cfemail="accfc3c2d8cdcfd8eccfc3c1dcc2cdd5c2c1c982cfc3c1">[email&#160;protected]</span></a></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 BGsec page-block-full wow fadeInUp" data-wow-duration="0.50s"
                data-wow-delay="1s">
                <div class="office">
                    <h5>Moscow</h5>
                    <span><i class="fa fa-map-marker"></i> 123 Main Street<br>
                        Your City, State Country.</span>
                    <span><i class="fa fa-phone"></i> (123) 456-7890</span>
                    <span><i class="fa fa-envelope"></i> <a href="##3c5f5352485d5f487c5f53514c525d45525159125f5351"
                            title="Contact"><span class="__cf_email__"
                                data-cfemail="0e6d61607a6f6d7a4e6d61637e606f7760636b206d6163">[email&#160;protected]</span></a></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container page-block text-center wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <h3 class="prime">Book Appointment</h3>
        <span class="line"></span>
        <p class="text-center">Fill up form below for appointment and our <strong>Expert</strong> will contact you soon.
            <small>All fields are required.</small></p>
        <form id="contact_form" method="post"
            action="http://www.saptarang.org/premium/html/striking/01/01/form/contact.php">
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
            </div>
            <div class="col-md-6">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" />
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" value="" id="datetimepicker" name="datetimepicker"
                    placeholder="Preffered Date & Time" />
            </div>
            <div class="col-md-12">
                <textarea cols="60" rows="3" id="comment" name="comment" class="form-control"
                    placeholder="Write your comment here..."></textarea>
            </div>
            <div class="col-md-12">
                <input type="text" id="security" name="security" class="form-control hide" value="" />
                <input type="submit" value="Submit &#xf138;" class="btn btn-primary btn-lg" id="submit" name="submit" />
            </div>
        </form>
    </div>
</section>