<section class="breadcrumbs breadcrumbs2 faq wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>FAQ</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a routerLink="/core/home3" title="Home">Home</a> / FAQ
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container">

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h4><i class="fa fa-gear squareSmall BGsec"></i> Commercial Interior Related</h4><br>
            <div class="panel-group text-left" id="category1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category1"
                                href="#cat1_1"><span></span>Lorem ipsum dolor sit amet? </a> </h4>
                    </div>
                    <div id="cat1_1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category1"
                                href="#cat1_2"><span></span>Nulla hendreit vitae consequat? </a> </h4>
                    </div>
                    <div id="cat1_2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category1"
                                href="#cat1_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat1_3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category1"
                                href="#cat1_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h4>
                    </div>
                    <div id="cat1_4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category1"
                                href="#cat1_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat1_5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h4><i class="fa fa-gear squareSmall BGsec"></i> Residential Interior Related</h4><br>
            <div class="panel-group text-left" id="category2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat2_1"><span></span>Lorem ipsum dolor sit amet? </a> </h4>
                    </div>
                    <div id="cat2_1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat2_2"><span></span>Nulla hendreit vitae consequat? </a> </h4>
                    </div>
                    <div id="cat2_2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat2_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat2_3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat2_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h4>
                    </div>
                    <div id="cat2_4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat2_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat2_5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear gapM"></div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h4><i class="fa fa-gear squareSmall BGsec"></i> Exterior Related</h4><br>
            <div class="panel-group text-left" id="category3" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat3_1"><span></span>Lorem ipsum dolor sit amet? </a> </h4>
                    </div>
                    <div id="cat3_1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat3_2"><span></span>Nulla hendreit vitae consequat? </a> </h4>
                    </div>
                    <div id="cat3_2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat3_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat3_3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat3_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h4>
                    </div>
                    <div id="cat3_4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category2"
                                href="#cat3_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat3_5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h4><i class="fa fa-gear squareSmall BGsec"></i> Renovation Related</h4><br>
            <div class="panel-group text-left" id="category4" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category4"
                                href="#cat4_1"><span></span>Lorem ipsum dolor sit amet? </a> </h4>
                    </div>
                    <div id="cat4_1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category4"
                                href="#cat4_2"><span></span>Nulla hendreit vitae consequat? </a> </h4>
                    </div>
                    <div id="cat4_2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category4"
                                href="#cat4_3"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat4_3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category4"
                                href="#cat4_4"><span></span>Consectetur adipiscing elit enim vulputate? </a> </h4>
                    </div>
                    <div id="cat4_4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#category4"
                                href="#cat4_5"><span></span>Suspendisse dignissim convallis dolor at viverra? </a> </h4>
                    </div>
                    <div id="cat4_5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="BGprime page-block-large">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h2 class="white text-capitalize">Didn’t get your answer? Ask Here!</h2>
            <p class="white">Fill up form below and our expert will contaxct you soon. All fields are required.</p>
            <form class="dark" id="Qcontact_form" method="post"
                action="http://www.saptarang.org/premium/html/striking/01/01/form/question.php">
                <div class="field-wrapper row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="qname" name="qname" placeholder="Your Name" />
                    </div>
                    <div class="col-md-4">
                        <input type="tel" class="form-control" id="qphone" name="qphone" placeholder="Your Phone" />
                    </div>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="qemail" name="qemail" placeholder="Your Email" />
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <textarea cols="60" rows="3" id="qcomment" name="qcomment" class="form-control"
                            placeholder="Write your comment here..."></textarea>
                    </div>
                    <div class="col-md-1">
                        <input type="text" id="qsecurity" name="qsecurity" class="form-control hide" value="" />
                        <input type="submit" value="Submit &#xf138;" class="btn btn-dark btn-lg" id="qsubmit"
                            name="qsubmit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-1" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>