<section class="breadcrumbs breadcrumbs2 portfolioBG wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
<div class="boxedeb">
    <div class="container page-block-small">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Portfolio</h2>
            <span class="line"></span>
            <div class="rightText">
                <a routerLink="/core/home3" title="Home">Home</a> / <a routerLink="/core/portfolio4"
                    title="Portfolio4">Portfolio</a> / Residential Portfolio
            </div>
        </div>
    </div>
</div>
</section>


<section id="project-single" class="">
    <div class="project-info BGsec page-block-large wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">

        <div class="absShape navigation">
            <a routerLink="/core/portfolio1" title="Previous"><i class="fa fa-angle-left square BGlight"></i></a>
            <a routerLink="/core/portfolio3" title="Next"><i class="fa fa-angle-right square BGlight"></i></a>
        </div>
        <div class="container">
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <h2 class="text-capitalize">Platinum Eve</h2>
                <p class="big"><i class="fa fa-map-marker"></i> 123 Street, some place, City CA 12345.</p>
                <hr class="light">
                <p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent
                    volutpat neque non hendrerit finibus. Pellentesque sit amet fermentum risus.</p>
                <p>Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi
                    risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi
                    risus, accumsan nec elit ac, molestie varius urna.</p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="project-data">
                    <ul>
                        <li><i class="fa fa-paint-brush squareSmall outline light"></i> <strong>Work Done</strong>Total
                            Infrastructure</li>
                        <li><i class="fa fa-calendar squareSmall outline light"></i> <strong>Duration</strong>2 Week
                        </li>
                        <li><i class="fa fa-dollar squareSmall outline light"></i> <strong>Cost</strong>$50,000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="project-gallery">
        <div class="gallery-heading BGlight page-block-small wow fadeInUp" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <div class="container">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <h1><i class="fa fa-paint-brush squareSmall BGsec"></i>Gallery</h1>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12 text-right">
                    <ul class="list-inline">
                        <li>
                            <h5>Creative Team</h5>
                        </li>
                        <li><a routerLink="/core/team-single" title="Person name"><img src="assets/images/people/square/01.jpg"
                                    width="50" height="50" alt=""></a></li>
                        <li><a routerLink="/core/team-single" title="Person name"><img src="assets/images/people/square/02.jpg"
                                    width="50" height="50" alt=""></a></li>
                        <li><a routerLink="/core/team-single" title="Person name"><img src="assets/images/people/square/03.jpg"
                                    width="50" height="50" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-wide wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="grid four">
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/01.jpg" width="600" height="394" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/01.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/02.jpg" width="600" height="704" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/02.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/03.jpg" width="600" height="400" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/03.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/04.jpg" width="600" height="450" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/04.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/05.jpg" width="600" height="647" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/05.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/06.jpg" width="600" height="395" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/06.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/07.jpg" width="600" height="450" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/07.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/08.jpg" width="600" height="399" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/08.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/09.jpg" width="600" height="400" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/09.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/02/small/10.jpg" width="600" height="408" alt="" />
                    <div class="overlay">
                        <a class="zoom" href="assets/images/project/02/large/10.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="headingIcon"><i class="fa fa-quote-left square BGprime"></i></div>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo purus quis urna vehicula
                ultricies. Ut tincidunt est vitae justo Phasellus vel tempor sapien. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Vivamus commodo purus quis urna vehicul Utto Phasellus
                <div class="author">John &amp; Jenny Doe, <small>Owners</small></div>
            </blockquote>
        </div>
        <div class="gapL"></div>
    </div>
</section>


<section class="project-gallery recent page-block-large BGlight">
    <div class="container">
        <div class="section-heading wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h2><i class="fa fa-th-large square BGsec"></i>Recent<small>Projects</small></h2>
            <a class="btn btn-primary" routerLink="/core/portfolio3" title="View All Projects">View All Projects <i
                    class="fa fa-chevron-right"></i></a>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.75s">
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/recent/01.jpg" width="725" height="475" alt="" />
                    <div class="overlay hasBoth">
                        <a class="link" routerLink="/core/portfolio1" title="project name"><i
                                class="fa fa-link square"></i></a>
                        <a class="zoom" href="assets/images/project/recent/01.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                    <h6>Awesome IT Solutions</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1s">
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/recent/02.jpg" width="725" height="475" alt="" />
                    <div class="overlay hasBoth">
                        <a class="link" routerLink="/core/portfolio2" title="project name"><i
                                class="fa fa-link square"></i></a>
                        <a class="zoom" href="assets/images/project/recent/02.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                    <h6>Platinum Eve</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.25s">
                <div class="item">
                    <img class="img-responsive" src="assets/images/project/recent/03.jpg" width="725" height="475" alt="" />
                    <div class="overlay hasBoth">
                        <a class="link" routerLink="/core/portfolio3" title="project name"><i
                                class="fa fa-link square"></i></a>
                        <a class="zoom" href="assets/images/project/recent/03.jpg" data-rel="prettyPhoto[gallery1]"
                            title="You can add caption to pictures."><i class="fa fa-search-plus square"></i></a>
                    </div>
                    <h6>Globocom Infotec</h6>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" routerLink="/core/contact-1" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>