<section class="breadcrumbs breadcrumbs2 about wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>About Us</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / About Us
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-block-large">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInLeft" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <img class="img-responsive" src="assets/images/about.jpg" alt="About Striking" width="725" height="475" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 content-box wow fadeInRight" data-wow-duration="0.50s"
            data-wow-delay="0.50s">
            <p class="big">Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper.
                Nunc nisi risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent volutpat
                neque non hendrerit finibus. Pellentesque sit amet fermentum risus.</p>
            <p>Maecenas molestie pulas molestie pulvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi
                risus, accumsan nec elit ac, molvinar augue. Ut quis sem ut neque gravida ullamcorper. Nunc nisi risus,
                accumsan nec elit ac, molestie varius urna.</p>
        </div>
    </div>
</section>

<section class="page-block-large BGlight">
    <div class="container text-center">
        <div class="col-md-12  content-box wow fadeIn" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h1><small>OUR WORK HAS BEEN</small><strong>FEATURED</strong></h1>
            <div class="headingIcon"><i class="fa fa-diamond fa-4x square BGprime"></i></div>
            <p class="big">Lorem ipsum dolor sit amet, rislaoreetsuscipit turpis mollis non. Lcons is molli Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Maecenas quis quam non tellus ultricies accumsan. Praesent
                volutpat neque non hendrerit finibus. Pellentesque sit amet fermentum risus. Ut quis sem ut neque
                gravida ullamcorper. </p>
            <ul class="list-inline press">
                <li>
                    <a href="assets/images/press/large/01.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/01.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/02.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/02.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/03.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/03.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/04.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/04.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/05.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/05.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/06.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/06.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/07.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/07.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/08.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/08.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/09.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/09.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="assets/images/press/large/10.jpg" title="" data-rel="prettyPhoto[gallery1]">
                        <img src="assets/images/press/thumb/10.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="stat opt">
    <div class="BGsec opaque page-block">
        <div class="container">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-building-o fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="500ms" data-from="0" data-to="5" data-speed="4000"> </h1>
                <h4>Branches</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-graduation-cap fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="700ms" data-from="0" data-to="50" data-speed="4000"> </h1>
                <h4>Experts</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-diamond fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="900ms" data-from="0" data-to="500" data-speed="4000"> </h1>
                <h4>Clients</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <i class="fa fa-paint-brush fa-4x"></i>
                <h1 class="timer wow zoomIn" data-wow-delay="1100ms" data-from="0" data-to="1500" data-speed="4000">
                </h1>
                <h4>Projects</h4>
            </div>
        </div>
    </div>
</section>

<section class="staff page-block-large BGlight">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-heading wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2><i class="fa fa-users square BGsec"></i>Our Experts <small>Team behind our success</small></h2>
                <a class="btn btn-primary" href="team1.html" title="See All">See All <i
                        class="fa fa-chevron-right"></i></a>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.75s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/01.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jen Doe<small>Founder</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/02.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>John Doe<small>CEO</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.25s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/03.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jeny Doe<small>Managing Director</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="staff page-block-large BGlight">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-heading wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2><i class="fa fa-users square BGsec"></i>Our Experts <small>Team behind our success</small></h2>
                <a class="btn btn-primary" href="team1.html" title="See All">See All <i
                        class="fa fa-chevron-right"></i></a>
                <div class="clear"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="0.75s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/01.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jen Doe<small>Founder</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/02.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>John Doe<small>CEO</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 wow zoomIn" data-wow-duration="0.50s" data-wow-delay="1.25s">
                    <div class="team square">
                        <div class="img">
                            <a href="team-single.html" title="Person Name"><img class="img-responsive"
                                    src="assets/images/people/square/03.jpg" alt="img"></a>
                        </div>

                        <div class="info">
                            <a href="team-single.html" title="Person Name">
                                <h5>Jeny Doe<small>Managing Director</small></h5>
                            </a>
                            <ul class="social list-inline">
                                <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="Follow Us on vk"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client page-block">
    <div class="container">
        <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <h2><i class="fa fa-diamond square BGsec"></i>Clients <small>Precious &amp; Happy clients</small></h2>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="slider4">
                <div class="slide"><img src="assets/images/clients/01.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/02.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/03.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/04.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/05.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/06.png" alt="Client name"></div>
                <div class="slide"><img src="assets/images/clients/07.png" alt="Client name"></div>
            </div>
        </div>
    </div>
</section>

<section class="calltoAction">
    <div class="boxedw page-block">
        <div class="container">
            <div class="widget wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Get A Quote<small>With Experts Advice</small></h2>
                <p>Lorem ipsu Pellentesque dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor
                    tristique </p>
                <a class="btn btn-primary" href="contact1.html" title="Get A Quote">Get A Quote <i
                        class="fa fa-chevron-circle-right"></i></a>
                <i class="fa fa-file opaque"></i>
            </div>
            <div class="widget wow fadeInRight" data-wow-duration="0.50s" data-wow-delay="0.50s">
                <h2>Subscribe<small>to Enewsletter</small></h2>
                <form action="#" id="subscribeForm" method="post">
                    <div class="form-row">
                        <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control"
                            placeholder="Enter Your Email Address Here..." />
                        <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
                        <input type="submit" id="sub-submit" name="sub-submit" value="Subscribe &#xf138;"
                            class="btn btn-primary" />
                    </div>
                </form>
                <i class="fa fa-envelope opaque"></i>
            </div>
        </div>
    </div>
</section>

