<section class="breadcrumbs breadcrumbs2 contact wow fadeInDown" data-wow-duration="0.25s" data-wow-delay="0.45s">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Contact Us</h2>
                <span class="line"></span>
                <div class="rightText">
                    <a href="index-2.html" title="Home">Home</a> / Contact Us
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="opt">
    <div id="map_canvas1" class="wow fadeInDown" data-wow-duration="0.50s" data-wow-delay="0.50s"></div>
    <div class="contact-info BGprime page-block">
        <div class="container wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
            <div class="office">
                <h2 class="white text-center">Get in touch with us</h2>
                <hr class="light">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <span><i class="fa fa-map-marker squareSmall BGsec"></i> 123 Main Street<br>
                        Your City, State Country.</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <span><i class="fa fa-phone squareSmall BGsec"></i> (123) 456-7890</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <span><i class="fa fa-envelope squareSmall BGsec"></i> <a
                            href="##74171b1a0015170034171b19041a150d1a19115a171b19" title="Contact"><span
                                class="__cf_email__"
                                data-cfemail="72111d1c0613110632111d1f021c130b1c1f175c111d1f">[email&#160;protected]</span></a></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container page-block text-center wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="0.50s">
        <h3 class="prime">Book Appointment</h3>
        <span class="line"></span>
        <p class="text-center">Fill up form below for appointment and our <strong>Expert</strong> will contact you soon.
            <small>All fields are required.</small></p>
        <form id="contact_form" method="post"
            action="http://www.saptarang.org/premium/html/striking/01/01/form/contact.php">
            <div class="col-md-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
            </div>
            <div class="col-md-6">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" />
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" value="" id="datetimepicker" name="datetimepicker"
                    placeholder="Preffered Date & Time" />
            </div>
            <div class="col-md-12">
                <textarea cols="60" rows="3" id="comment" name="comment" class="form-control"
                    placeholder="Write your comment here..."></textarea>
            </div>
            <div class="col-md-12">
                <input type="text" id="security" name="security" class="form-control hide" value="" />
                <input type="submit" value="Submit &#xf138;" class="btn btn-primary btn-lg" id="submit" name="submit" />
            </div>
        </form>
    </div>
</section>